<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="header">User Management App</div>
<h2 style="text-align:center;">Add / Edit Employee</h2>
<form th:action="@{/save}" th:object="${employee}" method="post" class="form-container">
    <input type="hidden" th:field="*{id}">
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}" required>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}" required>
    <label>Email:</label>
    <input type="email" th:field="*{email}" required>
    <button type="submit">Save</button>
</form>
</body>
</html>
